# Dependency folder
node_modules/

# Environment variable
.env
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Runtime
*.pid
*.seed
*.log

# Build output
dist/
build/
coverage/

# Editor settings
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Certificates (jangan simpan private key!)
*.pem
*.key
*.crt
